{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Password reset</title>
</head>

<body>
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Reset your password</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
            <form class="mt-5">
                <div>
                    <label for="username">Enter your username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="mt-6">
                    <button class="btn login_btn" onclick="alert('Success!')">
                        Reset password
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Do you want to go back? <a href="login.html" class="ml-2">Login</a>
            </div>
        </div>
    </div>
</body>

</html>