<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
      <title>Login</title>
  </head>

  <body>
    <div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
        <h1 class="text-3xl font-semibold text-center text-blue-400">Register</h1>
        <form class="mt-5">
          <div>
            <label for="username" class="block text-sm text-gray-800">Username:</label>
            <input type="text" id="username" name="username"
            class="block w-full px-3 py-2 mt-3 bg-white border rounded-md focus:border-gray-400 focus:ring-gray-300 focus:outline-none focus:ring focus:ring-opacity-50">
          </div>
          <div class="mt-4">
            <div>
              <label for="email" class="block text-sm text-gray-800">Email:</label>
                    <input type="email" id="email" name="email"
                      class="block w-full px-4 py-2 mt-3 bg-white border rounded-md focus:border-gray-400 focus:ring-gray-300 focus:outline-none focus:ring focus:ring-opacity-40">
            </div>
              <div class="mt-4">
                  <div>
                    <label for="pwd" class="block text-sm text-gray-800">Choose password:</label>
                      <input type="password" id="pwd" name="pwd"
                             class="block w-full px-4 py-2 mt-3 bg-white border rounded-md focus:border-gray-400 focus:ring-gray-300 focus:outline-none focus:ring focus:ring-opacity-40">
            </div>
                  <div class="mt-4">
                       <div>
                           <label for="pwd" class="block text-sm text-gray-800">Repeat password:</label>
                            <input type="password" id="pwd" name="pwd"
                                    class="block w-full px-4 py-2 mt-3 bg-white border rounded-md focus:border-gray-400 focus:ring-gray-300 focus:outline-none focus:ring focus:ring-opacity-40">
                       </div>

            <div class="mt-6">
              <button
                class="w-full px-4 py-2 transform bg-yellow-400 rounded-md hover:bg-green-600 focus:outline-none focus:bg-purple-600">
                Register
              </button>
            </div>
              </div>
          </div>
          </div>
        </form>
        <p class="mt-8 text-xs font-light text-center text-gray-700"> Already have an account? <a href="login.html"
            class="font-medium text-red-600 hover:underline">Login</a></p>
      </div>

  </body>

</html>