{% extends 'base.html' %}
{% load static %}

{% block title %}
    <div class="cat-heading">
        {% if category %}{{ category.name }}{% else %}Products{% endif %}
    </div>
{% endblock %}

{% block content %}
<div id="main" class="product-list-container">
    <div class="cat-heading">
        <h1>{% if category %}{{ category.name }}{% else %}Kõik tooted{% endif %}</h1>
    </div>
    <div class="featured-products">
        {% for product in page_obj %}
        <div class="product">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% get_media_prefix %}visual/no_image.png{% endif %}" alt="">
            </a>
            <a href="{{ product.get_absolute_url }}"><h2>{{ product.name }}</h2></a>
            <br>
            <i> {{ product.description|truncatechars:200 }}</i>
            <br>
            <p>{{ product.price }}€</p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}