{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftly</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="parent">
    <div class="wrapper">
        <header class="header">
            <div class="header-content">
                <a href="{% url 'home' %}">
                    <img src="{% get_media_prefix %}visual/GIFTLY.png" alt="Logo" style="width: 400px; height: 150px;">
                </a>
            </div>
        </header>
        <div class="header-bar">
            <div class="search-container">
                <div class="magnifying-glass"></div>
                <input class="search-input" type="text" placeholder="Otsi...">
            </div>
            <div class="header-buttons">
                <div class="dropdown">
                    <a href="{% url 'all_products' %}" class="btn-header">Tooted</a>
                    <div class="dropdown-content">
                        {% for category in categories %}
                            {% if not category.parent %}
                                <div class="parent-category">
                                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                    <div class="child-categories">
                                        {% for child in category.children.all %}
                                            <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="btn-header">Populaarsed</a>
                <a href="#" class="btn-header">Info</a>
                <a href="#" class="btn-header">KKK</a>
            </div>
            <div class="customer-links">
                <a class="profile-link" href="{% url 'profile' %}">
                    <img src="{% get_media_prefix %}visual/account.png" alt="Account" style="width: 20px; height: 20px;">
                    <span id="hello-msg">{{ request.user }}</span>
                </a>
                <span class="header-separator"></span>
                <a class="cart-link" href="{% url 'cart_detail' %}">
                    <img src="{% get_media_prefix %}visual/shoppingcart.webp" alt="Cart"
                         style="width: 20px; height: 20px;">
                    <div class="cart-info">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                {{ cart.get_total_price }} €
                            {% else %}
                                Ostukorv
                            {% endif %}
                        {% endwith %}
                    </div>
                </a>
            </div>
        </div>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
        <div class="weather-widget-container">
            {% include "weather_widget/widget.html" %}
        </div>
    </div>
</div>
        <footer class="footer">
            <p>&copy; 2023 Giftly. All rights reserved.</p>
        </footer>
</body>
</html>