{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="info-block">
            <h2><u>Info</u></h2>
            <p>Giftly on alles verivärske, 2023. aasta sügisel alustanud epood, mis pakub elamuskingitusi
                sünnipäevadeks,
                firmapidudeks ja muudeks tähtpäevadeks. Kingitused on jagatud erinevatesse kategooriatesse, millest
                igaüks
                leiab
                endale või seltskonnale midagi meelepärast. Meie eesmärk on jõuda oma niši parimate hulka. Värskendame
                oma
                valikut
                regulaarselt. Liitu kindlasti ka meie
                uudiskirjaga – püsiklientidele saadame alati ülevaate uutest pakkumistest.</p>
        </div>
        <div class="kkk-block">
            <h2><u>Korduma kippuvad küsimused</u></h2>
            <p><b>Kuidas saab endale konto teha?</b><br> – Kodulehel on registreerimisnupp, mis suunab kontot looma.
                Hiljem sisse logides saate teha valiku meie põnevate pakkumiste hulgast.</p>
            <br>
            <p><b>Mida teha, kui salasõna on ununenud?</b><br> – Salasõna saab salasõnataastega muuta, sisestades
                vastavasse
                lahtrisse
                oma kasutajanime ja süsteem genereerib uue salasõna, mida saate hiljem profiili alt muuta.</p>
            <br>
            <p><b>Kuidas oma kasutajaandmeid muuta saab?</b><br> – Vajutades profiiliuuenduse nupu peale. Sealt saate
                muuta
                oma emaili, nime ja salasõna.</p>
            <br>
            <p><b>Kuidas leida kindlas linnas toimuvad üritusi?</b><br> – Hetkel on menüüs linnavalikuteks Tallinn,
                Tartu ja
                "muu".</p>
            <br>
            <p><b>Kuidas leida kindla kategooria kingitusi?</b><br> – Kõige mugavam on otsida menüüst kategooria kaupa,
                aga
                alati saab
                vastavaid märksõnu sisestada ka otsinguribale.</p>
            <br>
            <p><b>Kuidas muuta või eemaldada toodet ostukorvist?</b><br> – Nupule vajutades avaneb vaade ostukorvile.
            </p>
            <br>
            <p><b>Kuhu saab sisestada sooduskoodi?</b><br> – Üritame alati hoida oma hinnad kliendile võimalikult
                soodsad.
                Eraldi sooduskoode me kahjuks ei paku.</p>
            <br>
            <p><b>Milliste maksevahenditega saab kingitus(t)e eest tasuda?</b><br> – Võimalusi on mitu: Google Pay,
                Apple
                Pay,
                krediitkaart ja PayPal. Kahjuks ei ole esialgu võimalik tasuda pangalingiga, kuid soovi korral
                võite tasuda ettemaksuarvega.</p>
            <br>
            <p><b>Kuhu saadetakse tellimuse arve?</b><br> – Arve saadame registreeritud kasutaja emailile.</p>
            <br>
            <p><b>Mida teha, kui tellimuse arve pole saabunud?</b><br> – Kontrollige profiili alt üle, kas Teie email on
                õige
                (vaata punkti, kuidas oma profiilile ligi pääseda). Vajadusel võtke ühendust meie IT-tiimiga. </p>
            <br>
            <p><b>Kuidas saab tellitud kingitust kasutada?</b><br> – Piletina kehtib meie arve, mida võite näidata
                telefonist
                või paberkujul.</p>
            <br>
            <p><b>Miks on kodulehel ilmateade?</b><br> – Väliürituste puhul on hea teada, milline ilm ootamas on, et
                teaks
                vastava
                riietuse valida. Mõned üritused toimuvad ainult ilusa ilmaga. Ebasobivate ilmastikutingimuste korral
                võtab
                ürituse
                korraldaja kliendiga ise ühendust ja lepib kokku asendusaja.</p>
            <br>
            <p><b>Kas tellimust on võimalik tühistada?</b><br> – Jah, kui annate oma soovist hiljemalt 2 päeva enne
                ürituse
                toimumist
                teada. Raha kanname tagasi esimesel võimalusel, aga kindlasti 14 päeva jooksul.</p>
            <br>
            <p><b>Kelle poole saab tehniliste küsimuste korral pöörduda?</b><br> – Võtke ühendust meie IT-tiimiga.</p>
        </div>
    </main>
{% endblock %}