{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="content">
        <h2><u>Info ja kordumakippuvad küsimused</u></h2>
        <p>Giftly on alles verivärske, 2023. aasta sügisel alustanud epood, mis pakub elamuskingitusi sünnipäevadeks,
            firmapidudeks ja muudeks tähtpäevadeks. Kingitused on jagatud erinevatesse kategooriatesse, millest igaüks
            leiab
            endale või seltskonnale midagi meelepärast. Meie eesmärk on jõuda oma niši parimate hulka. Värskendame oma
            valikut
            regulaarselt. Liitu kindlasti ka meie
            uudiskirjaga – püsiklientidele saadame alati ülevaate uutest pakkumistest.</p>
        <p><b>Kuidas saab endale konto teha?</b> – Kodulehel on registreerimisnupp, mis suunab kontot looma.
            Hiljem sisse logides saate teha valiku meie põnevate pakkumiste hulgast.</p>
        <p><b>Mida teha, kui salasõna on ununenud?</b> – Salasõna saab salasõnataastega muuta, sisestades vastavasse
            lahtrisse
            oma kasutajanime ja süsteem genereerib uue salasõna, mida saate hiljem profiili alt muuta.</p>
        <p><b>Kuidas oma kasutajaandmeid muuta saab?</b> – Vajutades profiiliuuenduse nupu peale. Sealt saate muuta
            oma emaili, nime ja salasõna.</p>
        <p><b>Kuidas leida kindlas linnas toimuvad üritusi?</b> – Hetkel on menüüs linnavalikuteks Tallinn, Tartu ja
            "muu".</p>
        <p><b>Kuidas leida kindla kategooria kingitusi?</b> – Kõige mugavam on otsida menüüst kategooria kaupa, aga
            alati saab
            vastavaid märksõnu sisestada ka otsinguribale.</p>
        <p><b>Kuidas muuta või eemaldada toodet ostukorvist?</b> – Nupule vajutades avaneb vaade ostukorvile.</p>
        <p><b>Kuhu saab sisestada sooduskoodi?</b> – Üritame alati hoida oma hinnad kliendile võimalikult soodsad.
            Eraldi sooduskoode me kahjuks ei paku.</p>
        <p><b>Milliste maksevahenditega saab kingitus(t)e eest tasuda?</b> – Võimalusi on mitu: Google Pay, Apple Pay,
            krediitkaart ja PayPal. Kahjuks ei ole esialgu võimalik tasuda pangalingiga, kuid soovi korral
            võite tasuda ettemaksuarvega.</p>
        <p><b>Kuhu saadetakse tellimuse arve?</b> – Arve saadame registreeritud kasutaja emailile.</p>
        <p><b>Mida teha, kui tellimuse arve pole saabunud?</b> – Kontrollige profiili alt üle, kas Teie email on õige
            (vaata punkti, kuidas oma profiilile ligi pääseda). Vajadusel võtke ühendust meie IT-tiimiga. </p>
        <p><b>Kuidas saab tellitud kingitust kasutada?</b> – Piletina kehtib meie arve, mida võite näidata telefonist
            või paberkujul.</p>
        <p><b>Miks on kodulehel ilmateade?</b> – Väliürituste puhul on hea teada, milline ilm ootamas on, et teaks
            vastava
            riietuse valida. Mõned üritused toimuvad ainult ilusa ilmaga. Ebasobivate ilmastikutingimuste korral võtab
            ürituse
            korraldaja kliendiga ise ühendust ja lepib kokku asendusaja.</p>
        <p><b>Kas tellimust on võimalik tühistada?</b> – Jah, kui annate oma soovist hiljemalt 2 päeva enne ürituse
            toimumist
            teada. Raha kanname tagasi esimesel võimalusel, aga kindlasti 14 päeva jooksul.</p>
        <p><b>Kelle poole saab tehniliste küsimuste korral pöörduda?</b> – Võtke ühendust meie IT-tiimiga.</p>
    </main>
{% endblock %}