{% extends 'base.html' %}
{% load static %}

{% block title %}Product Detail{% endblock %}

{% block content %}
<main class="content">
    <div class="product-detail">
        <img src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% get_media_prefix %}visual/no_image.png{% endif %}" alt="{{ product.title }}" width="200" height="200">
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}€</p>

        <!-- Add to basket form -->
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            {{ cart_product_form.quantity.label_tag }} {{ cart_product_form.quantity }}
            <input type="submit" value="Add to basket">
        </form>

        {% if product_added_to_cart %}
            <div class="success-message">
                Product added to the basket successfully!
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}
