{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="content">
        <div class="user-profile">
            <h2>Kasutaja andmed</h2>
            <p>Kasutajanimi: {{ user.username }}</p>
            <p>Eesnimi: {{ user.first_name }}</p>
            <p>Perekonnanimi: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>

            <!-- Display Address and City (Not saved in the database) -->
            {% if user_form.city.value %}
                Linn: {{ user_form.city.value }}
            {% endif %}
            {% if user_form.address.value %}
                <p>Aadress: {{ user_form.address.value }}</p>
            {% endif %}
        </div>
        <!-- Display messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="profile-button">
            <a href="{% url 'update_profile' %}" class="btn btn-search">Muuda profiili</a>
            <a href="{% url 'update_password' %}" class="btn btn-search">Uuenda parool</a>
        </div>
    </main>
{% endblock %}